---
import Heavy from '../components/Heavy.astro'
---

<div class="min-h-screen">
	<h1>Hello, Astro!</h1>
	<a href="/dashboard">Goto Dashboard</a>
</div>

<div class="min-h-screen bg-red-500"></div>

<Heavy />